
.carte{
    background-color: gray;
}

.plus{
    background-color: black;
    color: blanchedalmond;
    font-size: 20px;
    height:100px;
    width:100px;
    margin-left:800px;
    margin-top:0px;
}